@import "libs"
@import "base"


.wrapper
	position: relative
	background-color: #ffffff
	box-shadow: 0 0 15px 0 rgba(#575757, .22)
	max-width: 1325px
	width: 100%
	margin: 0 auto
	min-height: 95vh

	+r(1325)
		max-width: 1200px


.container
	width: 100%
	max-width: 1185px
	margin: 0 auto

	+r(1325)
		padding: 0 15px
		max-width: 1170px

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 100%


.header
	background-image: url(../img/header--bg.png)
	background-position: top right
	background-repeat: no-repeat
	border-bottom: 1px solid $border

	+r(992)
		background-image: none

	&__top
		display: flex
		justify-content: flex-end
		align-items: center
		padding: 15px 65px 20px

		+r(992)
			padding: 10px 15px
			background-color: $accent

		&_link
			margin-right: 55px

			+r(767)
				margin-right: 30px

			+r(480)
				margin-right: 20px

	&__container
		position: relative
		transition: all .6s
		+between

		+r(992)
			padding: 5px 15px

		&--menu
			box-shadow: 0 5px 5px 0 rgba($text, .3)

	&__logo
		
		+r(1200)
			max-width: 45%
			min-width: 245px

		img
			+r(1200)
				width: 100%

	&__nav

		+r(1200)
			width: 50%

		+r(767)
			position: absolute
			width: 100%
			top: 100%
			right: 0
			left: 0
			background-color: #ffffff
			z-index: 1000
			padding: 40px
			box-shadow: 0 5px 5px 0 rgba($text, .3)
			transition: all .6s
			display: none

			ul
				flex-direction: column

			li
				margin-bottom: 20px
				font-size: 22px

				&:last-child
					margin-bottom: 0

		ul
			+between

		li
			margin-right: 95px

			&:last-child
				margin-right: 0

			+r(1325)
				margin-right: 50px

			+r(1200)
				margin-right: 0
		
		a
			color: $text

			&:hover
				color: $accent

	&__search
		display: flex
		align-items: center
		padding: 33px 0

		+r(992)
			padding: 15px
		
		+r(480)
			flex-wrap: wrap

		input
			height: 40px
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px

			+r(480)
				width: 100%
				border-radius: 4px
				margin-bottom: 5px

		button
			height: 40px
			flex-shrink: 0
			padding: 0 45px
			border: 1px solid transparent
			cursor: pointer
			background-color: $accent
			color: #ffffff
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px

			+r(480)
				width: 100%
				border-radius: 4px

			&:hover
				border: 1px solid #ffffff

			+r(992)
				padding: 0 15px


.nav--active
	display: block


.section
	padding-top: 30px
	padding-bottom: 60px

	+r(1200)
		padding: 30px 0

	&__header
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		margin-bottom: 35px

		+r(1200)
			margin-bottom: 20px

		+r(480)
			justify-content: center

			a
				width: 100%
				text-align: center

		h2
			margin-bottom: 0

		&_more
			display: flex
			align-items: center
			line-height: 1

			+r(480)
				width: 100%
				justify-content: center

		span
			position: relative
			display: block
			width: 10px
			height: 10px
			margin-right: 12px

			&::before,
			&::after
				content: ''
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				display: block
				background-color: $accent

			&::before
				width: 2px
				height: 10px

			&::after
				height: 2px
				width: 10px

	&__slider

		img
			width: 100%
			margin-bottom: 15px

		p
			color: $text
			font-size: 12px
			font-weight: 600

			&:last-child
				color: $accent
		
		&_item
			padding: 25px 30px 20px
			border: 1px solid transparent
			transition: all .6s

			+r(1325)
				padding: 20px

			+r(1200)
				padding: 15px

			&:hover
				border: 1px solid $border

	&__button
		background-image: none
		opacity: 1 !important
		z-index: 100

		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			display: block
			width: 15px
			height: 15px
			border-top: 1px solid $border
			border-left: 1px solid $border
			transition: all .6s

		&:hover
			&::before
				border-color: $text

		&--prev
			left: 0

			&::before
				transform: translate(-50%, -50%) rotate(-45deg)


		&--next
			right: 0

			&::before
				transform: translate(-50%, -50%) rotate(135deg)

	&--bg
		background-color: #f8f9fe


.about
	border-top: 1px solid $border

	h3
		margin-bottom: 20px

	p
		margin-bottom: 15px

		&:last-child
			margin-bottom: 0
			
	&__article
		width: 100%
		margin-bottom: 75px

		+r(992)
			margin-bottom: 40px

		&:last-child
			margin-bottom: 0

		img
			float: right
			margin-left: 65px
			margin-bottom: 15px

			+r(992)
				max-width: 50%
				width: 100%
				margin-left: 20px

			+r(480)
				max-width: 100%

		&--reverse
			img
				float: left
				margin-left: 0
				margin-right: 65px

				+r(992)
					margin-right: 20px


.footer
	padding: 30px 0
	background-color: $accent
	text-align: center
	color: #ffffff


.login

	h2
		text-align: center

	&__form
		max-width: 390px
		width: 100%
		margin: 0 auto

		label
			font-size: 12px
			font-weight: 600
			margin-bottom: 10px
		
		input
			border-radius: 5px

		p
			width: 100%
			text-align: right
			margin-bottom: 15px

		a
			color: $text

			&:hover
				color: $accent

		&_line
			margin-bottom: 20px

		&_btn
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: center


.grums
	display: flex
	align-items: center
	flex-wrap: wrap
	font-size: 12px
	margin-bottom: 10px

	li
		margin-right: 4px

	a
		color: $text

		&:hover
			color: $accent


.catalog
	padding: 30px 0

	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	
		+r(390)
			justify-content: space-around

	&__item
		display: flex
		flex-direction: column
		justify-content: space-between
		width: 115px
		text-align: center
		color: $text
		border: 1px solid $border !important
		padding: 15px 10px
		margin-bottom: 15px

		+r(1200)
			width: 19%
		
		+r(767)
			width: 30%
		
		+r(390)
			width: 45%


		&:hover
			color: $accent

		img, b
			display: block

		img
			margin: 0 auto 5px
			max-width: 100%


.access
	border-top: 1px solid $border

	h2
		text-align: center
		margin-bottom: 30px

	&__btn
		display: flex
		flex-wrap: wrap
		margin-top: 25px

		a
			margin-right: 20px

	&__list
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
		margin-bottom: 35px
		
		li
			margin-right: 10px

			+r(480)
				width: 100%
				margin-right: 0

			&:last-child
				margin-right: 0

		a
			@extend .btn
			white-space: nowrap
			background-color: #ffffff
			color: $accent

			+r(480)
				width: 100%
				max-width: 320px
				margin: 0 auto 5px

		.active
			background-color: $accent
			color: #ffffff

	&__form
		margin: 0 auto
		max-width: 700px
		width: 100%

		&_line
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			margin-bottom: 15px

			+r(480)
				margin-bottom: 10px

			p
				width: 49%

				+r(480)
					width: 100%
					margin-bottom: 10px
			
			input
				border-radius: 5px

		&_btn
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap

			+r(480)
				justify-content: space-around


.admin
	padding: 20px 0

	&__header
		display: flex
		justify-content: space-between

		+r(480)
			justify-content: center
			flex-wrap: wrap

		h2
			margin-bottom: 0

			+r(480)
				width: 100%
				margin-bottom: 5px
				text-align: center

		a
			color: $text

			&:hover,
			&:focus
				color: $accent

	&__filter
		display: flex
		flex-wrap: wrap
		margin-bottom: 25px
		font-size: 12px

		+r(480)
			font-size: 12px

		&_item
			display: flex
			justify-content: center
			align-items: center
			border: 1px solid $border
			min-width: 110px
			padding: 0 15px
			height: 35px
			margin-right: 15px
			border-radius: 5px
			transition: all .6s
			color: $text
			margin-bottom: 5px

			&:hover
				border: 1px solid $accent

			&:last-child
				margin-right: 0

			+r(992)
				margin-right: 5px
				padding: 0 5px

			&--active
				border: 1px solid $accent

	&__list
		font-size: 12px
		font-weight: 500
		margin-bottom: 30px

		button
			background-color: transparent
			border: 0
			outline: none
			width: 33px
			height: 33px
			border-radius: 50%

			&:hover
				background-color: $border

		&_item
			position: relative
			display: flex
			justify-content: space-between
			align-items: center
			border: 1px solid $border
			padding: 5px 20px
			margin-bottom: 10px

			+r(992)
				padding: 5px

			+r(480)
				padding-right: 40%
				flex-wrap: wrap

			&:last-child
				margin-bottom: 0

			&--name
				color: $accent
				flex-shrink: 0
				width: 65%
				max-width: 700px
				margin-right: 5px

				+r(767)
					width: 45%

				+r(480)
					width: 100%
					margin-bottom: 5px

			&--info
				flex-shrink: 0

				+r(480)
					width: 100%

			&--button
				display: flex
				justify-content: space-around
				width: 100px
				flex-shrink: 0

				+r(480)
					position: absolute
					top: 50%
					right: 0
					transform: translate(0, -50%)

	&__pagination
		display: flex
		justify-content: center
		width: 100%

		a,
		span
			display: flex
			justify-content: center
			align-items: center
			width: 35px
			height: 35px
			border-radius: 50%
			margin-right: 5px
			font-weight: 600

			&:last-child
				margin-right: 0

		a
			color: $text

			&:hover,
			&:focus
				background-color: $border

		span
			background-color: $accent
			color: #ffffff


.search
	padding: 20px 0
	border-bottom: 1px solid $border

	&__header
		@extend .section__header
		margin-bottom: 0

		h2
			margin-bottom: 0

		a
			color: $text

			&:hover
				color: $accent

	&__form
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding-top: 25px
		padding-bottom: 35px

		label
			font-size: 12px

			+r(480)
				margin-bottom: 2px

		input
			border-radius: 5px

		&_title
			width: 280px

		&_name
			width: 390px

		&_year
			width: 150px

		&_themes
			width: 315px
		
		&_themes2
			width: 310px

		&_udk, &_bbk
			width: 250px
		
		&_level
			width: 315px

		&_view
			width: 315px
		
		&_biography
			width: 850px
		
		&_line
			margin-bottom: 20px

			+r(1325)
				width: 49%

			+r(480)
				margin-bottom: 10px
				width: 100%

		&_annotation
			width: 100%
		
		&_btn
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: center
			width: 100%
			margin-top: 40px

			+r(767)
				margin-top: 25px

			a
				font-size: 16px
				color: $text

				&:hover
					color: $accent

			button
				margin-right: 35px


.result
	padding-top: 20px

	&__wrap
		padding-bottom: 35px

	&__filter
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		font-size: 12px

		b
			margin-right: 30px

			+r(1200)
				margin-right: 10px

		+r(767)
			justify-content: space-around

		p
			+r(1200)
				margin-bottom: 5px
				margin: 0 5px 15px 5px

		select
			width: 90px
		
		label
			margin-bottom: 0

		&_discipline

			select
				width: 200px

				+r(1200)
					width: 130px

		&_wrap
			display: flex
			align-items: center

		&_label
			margin-right: 10px

			&:last-child
				margin-right: 0

			label
				display: flex
				justify-content: center
				align-items: center
				height: 35px
				border-radius: 5px
				padding: 0 20px
				border: 1px solid $border
				transition: all .6s

			input[type="radio"]
				display: none

			input[type="radio"]:checked + label
				border-color: $accent

	&__list
		margin-bottom: 35px

	&__item
		display: flex
		justify-content: space-between
		align-items: flex-start
		padding: 35px 0
		border-bottom: 1px solid $border

		+r(390)
			flex-wrap: wrap
			padding: 20px 0

		&_img
			width: 200px
			padding: 30px 30px 12px 30px
			border: 1px solid $border
			flex-shrink: 0
			margin-right: 45px

			+r(992)
				padding: 15px
				margin-right: 15px

			+r(576)
				width: 150px
			
			+r(390)
				margin: 0 auto 15px

			img
				width: 100%
		
		&_icon
			display: block
			margin: 7px auto 0
			text-align: center

			img
				width: auto

		&_content
			font-size: 12px

			+r(390)
				width: 100%

			h3
				margin-bottom: 15px
			
			p
				margin-bottom: 8px

				&:last-child
					margin-bottom: 0



@import "page"